<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>修改用户</title>
</head>
<body>
<h1>修改用户</h1><br/>

<form method="POST" th:action="@{/users}" th:object="${userModel.user}">
    <input type="hidden" name="id" th:value="*{id}"/>
    用户名：<input type="text" name="username" th:value="*{username}"/><br/>
    密&emsp;码：<input type="text" name="password" th:value="*{password}"/><br/>
    昵&emsp;称：<input type="text" name="nick" th:value="*{nick}"/><br/>
    <input type="submit" value="提交"/>
</form>

</body>
</html>